html {
    scroll-behavior: smooth;
}

body{
    background-color: beige;
    font-family: 'Gowun Batang', serif;
}

ol{
    list-style-type: ' — ';
}

.nav-name{
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    font-weight: 900;
}


.nav-item{
    font-size: 28px;
}

hr{
    margin-top: 3%;
    margin-bottom: 3%;
    height: 1px;
    background: black;
}

.heading{
    text-align: center;
    font-size: 90px;
}

#spaceimg{
    width: 450px;
}

.content-heading{
    font-family: 'Gowun Batang', serif;
    font-size: 25px;
    font-weight: bold;
}

sub{
    font-weight: bold;
    font-size: 30px;
    color: rgb(233, 195, 29);
    font-style: italic;
}

.project-item{
    font-weight: bold;
    font-size: 40px;
}

.award-item{
    font-size: 25px;
}



a{
    text-decoration: none!important;
    color: black;
}

a.disabled {
    cursor: not-allowed;
    color: rgb(100, 99, 99);
}

a:hover{
    color: rgb(88, 88, 88);;
}

@media screen and (min-width: 992px) {
    .left-border {
        border-left: 2px solid;
    }

    body{
        font-size: 16px;
    }

}



@media screen and (max-width: 992px) {
    .top-border {
        border-top: 2px, solid;
        padding-top: 60px;
    }

    body{
        font-size: 28px;
    }

    .content-heading{
        font-size: 32px;
        /* letter-spacing: 2px; */
        padding-bottom: 20px;
        
    }

    .project-item{
        font-size: 50px;
    }

    .nav-name{
        font-size: 32px;
    }
}

